<title>Blackfathom Deeps</title>
<section>

<div class="right_side">
   <div class="rs_top" id="blackfathom_map">
     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span><%= t "others.name" %>:</span> <%= t "dungeons_name.Blackfathom Deeps" %>.</li>
        <li><span><%= t "others.level" %>:</span> 20 - 28.</li>
        <li><span><%= t "others.place" %>:</span> <%= t "locales.kalimdor" %>, <%= t "locales.ashenvale" %>.</li>
     </ol>
   </div>
</div>
<div class="body" id="blackfathom_bg">
    <ol>
      <li><%= t "dungeons.template_title" %> <%= t "dungeons_name.Blackfathom Deeps" %>.</li>
    </ol>

<%for i in 0..6%>
 <div class="quests">
   <div class="quest_text">
     <ul>
       <li><span class="line1">[<%=@q[i][0]%>] - [<a href="<%=@q[i][1] %>"></a>]</span></li>
       <li><%= t "quests.quest_begin" %> <a href="<%=@q[i][2] %>"></a> <%= t "quests.in" %> <%= t "locales.#{@q[i][3]}" %>.</li>
       <%if @q[i][5] != ""%>
         <li><%= t "quests.drop_item" %> <a href="<%=@q[i][5]%>"></a> <%= t "quests.drop_from" %> <a href="<%=@q[i][6]%>"></a>.</li>
       <%end%>
     </ul>
   </div>
<div class="<%=@q[i][4]%>"></div>
</div> 
<%end%>

</section>