<title>Blackfathom Deeps</title>
<section>

<div class="right_side">
   <div class="rs_top" id="blackfathom_map">
     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span>Nome:</span> Blackfathom Deeps (Profundezas Negras)</li>
        <li><span>Nível:</span> 20 - 28</li>
        <li><span>Local:</span> Kalimdor, Vale Gris.</li>
     </ol>
   </div>
</div>
<div class="body" id="blackfathom_bg">
    <ol>
      <li>Missões para fazer em Profundezas Negras.</li>
    </ol>

<%for i in 0..6%>
 <div class="quests">
   <div class="quest_text">
     <ul>
       <li><span class="line1">[<%=@q[i][0]%>] - [<a href="<%=@q[i][1] %>"></a>]</span></li>
       <li>A missão inicia com <a href="<%=@q[i][2] %>"></a> em: <%=@q[i][3]%>.</li>
       <%if @q[i][5] != ""%>
         <li>A missão é um drop de um item <a href="<%=@q[i][2]%>"></a> que dropa de <a href="<%=@q[i][3]%>"></a>.</li>
       <%end%>
     </ul>
   </div>
<div class="<%=@q[i][4]%>"></div>
</div> 
<%end%>

</section>