<title>Gnomeregan</title>
<section>

<div class="right_side">
   <div class="rs_top" id="gnomeregan_map">
     
   </div>
   <div class="rs_bottom">
     <ol>        
        <li><span><%= t "others.name" %>:</span> <%= t "dungeons_name.Gnomeregan" %>.</li>
        <li><span><%= t "others.level" %>:</span> 24 - 32.</li>        
        <li><span><%= t "others.place" %>:</span> <%= t "locales.eastern_kingdoms" %>, <%= t "locales.dun_murogh" %>.</li>
     </ol>
   </div>
</div>
<div class="body" id="gnomeregan_bg">
    <ol>            
        <li><%= t "dungeons.template_title" %> <%= t "dungeons_name.Gnomeregan" %>.</li>     
    </ol>

<%for i in 0..10%>
 <div class="quests">
   <div class="quest_text">
     <ul>
         <li><span class="line1">[<%=@q[i][0]%>] - [<a href="<%=@q[i][1] %>"></a>]</span></li>
       <%if @q[i][5] == ""%>
         <li><%= t "quests.quest_begin" %> <a href="<%=@q[i][2] %>"></a> <%= t "quests.in" %> <%= t "locales.#{@q[i][3]}" %>.</li>
       <%end%>
       <%if @q[i][5] == "np"%>
         <li><%= t "locales.#{@q[i][2]}" %>.</li>
       <%end%> 
       <%if (@q[i][5] != "np") && (@q[i][5] != "")%>
         <li><%= t "quests.drop_item" %> <a href="<%=@q[i][2]%>"></a> <%= t "quests.drop_from" %> <a href="<%=@q[i][3]%>"></a> <%= t "quests.in" %> <%= t "locales.#{@q[i][5]}" %>.</li>
       <%end%>       
     </ul>
   </div>
<div class="<%=@q[i][4]%>"></div>
</div> 
<%end%>

</section>