<title>Ragefire Chasm</title>
<section>

<div class="right_side">
   <div class="rs_top" id="ragefire_map">
     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span>Nome:</span> Ragefire Chasm</li>
        <li><span>Nível:</span> 12 - 18</li>
        <li><span>Local:</span> Kalimdor, Orgrimmar.</li>
     </ol>
   </div>

</div>  

<div class="body" id="ragefire_bg">
    <ol>            
      <li>Missões para fazer em Ragefire Chasm.</li>            
    </ol>

<%for i in 0..4%>
 <div class="quests">
   <div class="quest_text">
     <ul>
       <li><span class="line1">[<%=@q[i][0]%>] - [<a href="<%=@q[i][1] %>"></a>]</span></li>
       <li>A missão inicia com <a href="<%=@q[i][2] %>"></a> em <%=@q[i][3]%>.</li>
       <%if @q[i][5] != ""%>
         <li>A missão faz parte de uma chain <a href="<%=@q[i][5]%>"></a> que inicia com <a href="<%=@q[i][6]%>"></a> em <%=@q[i][7]%>.</li>
       <%end%>
     </ul>
   </div>
<div class="<%=@q[i][4]%>"></div>
</div> 
<%end%>

</section>