<title>Razorfen Downs</title>
<section>

<div class="right_side">
   <div class="rs_top" id="razorfend_map">
     
   </div>
   <div class="rs_bottom">
     <ol>
        <li><span>Nome:</span> Razorfen Downs</li>
        <li><span>Nível:</span> 33 - 42</li>
        <li><span>Local:</span> Kalimdor, Sertões.</li>
     </ol>
   </div>
</div>
<div class="body" id="razorfend_bg">
       <ol>
          <li>Missões para fazer em: Razorfen Downs.</li>
       </ol>

<%for i in 0..4%>
 <div class="quests">
   <div class="quest_text">
     <ul>
       <li><span class="line1">[<%=@q[i][0]%>] - [<a href="<%=@q[i][1] %>"></a>]</span></li>
       <li>A missão inicia com <a href="<%=@q[i][2] %>"></a> em <%=@q[i][3]%>.</li>
     </ul>
   </div>
<div class="<%=@q[i][4]%>"></div>
</div>
<%end%>

</section>