<title>Shadowfang Keep</title>
<section>

<div class="right_side">
   <div class="rs_top" id="shadowfang_map">
     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span><%= t "others.name" %>:</span> <%= t "dungeons_name.Shadowfang Keep" %>.</li>
        <li><span><%= t "others.level" %>:</span> 17 - 25.</li>
        <li><span><%= t "others.place" %>:</span> <%= t "locales.eastern_kingdoms" %>, <%= t "locales.silverpine_forest" %>.</li>
     </ol>
   </div>

</div>  

<div class="body" id="shadowfang_bg">
    <ol>            
        <li><%= t "dungeons.template_title" %> <%= t "dungeons_name.Shadowfang Keep" %>.</li>
    </ol>

<%for i in 0..2%>
 <div class="quests">
   <div class="quest_text">
     <ul>
       <li><span class="line1">[<%=@q[i][0]%>] - [<a href="<%=@q[i][1] %>"></a>]</span></li>
       <li><%= t "quests.quest_begin"%> <a href="<%=@q[i][2] %>"></a> <%= t "quests.in" %> <%= t "locales.#{@q[i][3]}"%>.</li>
     </ul>
   </div>
<div class="<%=@q[i][4]%>"></div>
</div> 
<%end%>

</section>