<title>Uldaman</title>
<section>

<div class="right_side">
   <div class="rs_top" id="uldaman_map">     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span>Nome:</span> Uldaman</li>
        <li><span>Nível:</span> 36-42</li>
        <li><span>Local:</span> Reinos do Leste, ???</li>
     </ol>
   </div>
</div>
<div class="body" id="uldaman_bg">
       <ol>
          <li>Missões para fazer em: Uldaman.</li>
       </ol>

<%for i in 0..10%>
 <div class="quests">
   <div class="quest_text">
     <ul>
          <li><span class="line1">[<%=@q[i][0]%>] - [<a href="<%=@q[i][1] %>"></a>]</span></li>
       <%if @q[i][5] == ""%>  
          <li>A missão inicia com <a href="<%=@q[i][2] %>"></a> em: <%=@q[i][3]%>. </li>       
       <%end%>
       <%if (@q[i][5] != "") && (@q[i][7] != "")%>
          <li>A missão inicia com <a href="<%=@q[i][2] %>"></a> em: <%=@q[i][3]%>. </li>   
          <li>A missão faz parte de uma chain <a href="<%=@q[i][5]%>"></a> que inicia com <a href="<%=@q[i][6]%>"></a> em: <%=@q[i][7]%> <a href="<%=@q[i][8]%>"></a> <%=@q[i][9]%>.</li>
       <%end%>
       <%if (@q[i][5] != "") && (@q[i][7] == "")%>
          <li>A missão inicia com <a href="<%=@q[i][2]%>"></a> em <%=@q[i][3]%> e com <a href="<%=@q[i][5]%>"></a> <%=@q[i][6]%>.</li>
       <%end%>       
     </ul>
   </div>
<div class="<%=@q[i][4]%>"></div>
</div> 
<%end%>

</section>