<title>Uldaman</title>
<section>

<div class="right_side">
   <div class="rs_top" id="uldaman_map">     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span><%= t "others.name" %>:</span> <%= t "dungeons_name.Uldaman" %>.</li>
        <li><span><%= t "others.level" %>:</span> 36-42.</li>
        <li><span><%= t "others.place" %>:</span> <%= t "locales.eastern_kingdoms" %>, <%= t "locales.badlands" %>.</li>
     </ol>
   </div>
</div>
<div class="body" id="uldaman_bg">
       <ol>
          <li><%= t "dungeons.template_title" %> <%= t "dungeons_name.Uldaman" %>.</li>
       </ol>

<%for i in 0..10%>
 <div class="quests">
   <div class="quest_text">
     <ul>
          <li><span class="line1">[<%=@q[i][0]%>] - [<a href="<%=@q[i][1] %>"></a>]</span></li>
       <%if @q[i][5] == ""%>  
          <li><%= t "quests.quest_begin"%> <a href="<%=@q[i][2] %>"></a> <%= t "quests.in" %> <%= t "locales.#{@q[i][3]}"%>.</li> 
       <%end%>
       <%if (@q[i][5] != "") && (@q[i][7] != "")%>
          <li><%= t "quests.quest_begin"%> <a href="<%=@q[i][2] %>"></a> <%= t "quests.in" %> <%= t "locales.#{@q[i][3]}"%>.</li>
          <li> <%= t "quests.quest_chain" %> <a href="<%=@q[i][5]%>"></a> <%= t "quests.quest_chain_begin" %> <a href="<%=@q[i][6]%>"></a> <%= t "quests.in" %> <%= t "locales.#{@q[i][7]}"%>. <a href="<%=@q[i][8]%>"></a> <%=@q[i][9]%></li>          
       <%end%>
       <%if (@q[i][5] != "") && (@q[i][7] == "")%>
          <li><%= t "quests.quest_begin"%> <a href="<%=@q[i][2] %>"></a> <%= t "quests.in" %> <%= t "locales.#{@q[i][3]}"%> <%= t "others.for_the_alliance" %> <%= t "others.and_with" %> <a href="<%=@q[i][5]%>"></a>
              <%= t "quests.in" %> <%= t "locales.#{@q[i][6]}"%> <%= t "others.for_the_horde" %>.</li>
       <%end%>       
     </ul>
   </div>
<div class="<%=@q[i][4]%>"></div>
</div> 
<%end%>

</section>