 <nav>
     <ul>
       <li> <%=link_to"idioma","" %>  </li>
       <li> <%=link_to"masmorras","#masmorras" %>  </li>
       <li> <%=link_to"classes","" %>  </li>             
       <li> <%=link_to"início","#inicio" %>  </li>
       <p> --Cryslash--</p>
     </ul>
   </nav>

<section id="inicio">
		<div class="cover">		
		<%= image_tag 'wow-classic-logo', id:"img-logo" %>
		    
		<h1 class="cover_text">QuickBuilds-Classic!</h1>
		<h2 class="cover_text2">O acervo contém atualmente mais de 40 Builds!</h2>
		
        <div id="container-classes">
          <% for i in 0..@classes.size %>            
            <%= link_to @classes[i], :action => @classes[i], target:"_blank" do %>
                 <div class="classes" id="<%=@classes[i]%>"><p><span><%=@classes[i]%></span><br>builds, guias e dicas.</p></div>            
            <%end%>
          <% end %>
        </div>
	
		</div>
</section>

<section id="masmorras">
          <div class="layer">          
          <%= image_tag "DG's/Treasure_chest", alt:"treasure chest" %>
          <ol>
            <li>Masmorras durante o Leveling!</li>
          </ol>
                <!-- Slide Page 1 -->
    <div class="swiper-container">                
    <div class="swiper-wrapper">
       <div class="swiper-slide"> 
         <% for i in 0..5%>
            <%= link_to @dgs[i][3], :action => @dgs[i][3], target:"_blank" do %>
             <div class="limit">
               <h1><%= @dgs[i][0]%></h1>
               <h2><%= @dgs[i][1]%></h2>
               <div class="dg" id="<%= @dgs[i][2] %>"></div>
             </div>
            <%end%>            
         <%end%>
         <%= image_tag "animation_swipe_icon", class:"icon_swiper" %>
       </div>        
                <!-- Slide Page 2 -->
       <div class="swiper-slide"> 
            <% for i in 6..11%>
              <%= link_to @dgs[i][3], :action => @dgs[i][3], target:"_blank" do %>
             <div class="limit">
               <h1><%= @dgs[i][0]%></h1>
               <h2><%= @dgs[i][1]%></h2>
               <div class="dg" id="<%= @dgs[i][2] %>"></div>
             </div></a>
         <%end%>         
         <%end%>
         <%= image_tag "animation_swipe_icon", class:"icon_swiper" %>
       </div>
                <!-- Slide Page 3 -->
       <div class="swiper-slide"> 
            <% for i in 12..13%>
              <%= link_to @dgs[i][3], :action => @dgs[i][3], target:"_blank" do %>
             <div class="limit">
               <h1><%= @dgs[i][0]%></h1>
               <h2><%= @dgs[i][1]%></h2>
               <div class="dg" id="<%= @dgs[i][2] %>"></div>
             </div></a>
         <%end%>         
         <%end%>
         <%= image_tag "animation_swipe_icon", class:"icon_swiper" %>
       </div>
    </div>
         <div class="swiper-button-next"></div>
         <div class="swiper-button-prev"></div>
    </div>
       </div>
</section>

<script>
    var swiper = new Swiper('.swiper-container', {
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
</script>

<script> //ancora  
   // Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {// Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {// Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {// Callback after animation // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
</script>

  <script type="text/javascript">
     $(document).ready(function() {
     $(window).bind('scroll', function() {
     var navHeight = $(window).height()*0.07;
     if($(window).scrollTop() > navHeight) {
          $('nav').addClass('fixed');
      $('nav li').addClass('navlifixed');
      $('nav img').addClass('navimgfixed');
     }
     else {
          $('nav').removeClass('fixed');
      $('nav li').removeClass('navlifixed');
      $('nav img').removeClass('navimgfixed');
     }
});
});
     </script>