 <nav>
     <ul id="menu">
       <li> <%#=link_to"idioma","" %>
         <div class="dropdown">
         <button class="dropbtn"><%= t "menu.language"%></button>
         <div class="dropdown-content">
           <%= link_to "english", locale: "en" %>
           <%= link_to "português", locale: "pt-br" %>
         </div>
         </div>
       </li>
       <li> <%=link_to "#{t "menu.dungeons"}","#masmorras" %>  </li>
       <li> <%=link_to "#{t "menu.class"}","#classes" %>  </li>
       <li> <%=link_to "#{t "menu.begin"}","#inicio" %>  </li>
       <!--p> --Cryslash--</p-->
     </ul>

      <div id="toggle">
                  <div class="span" id="one"></div>
                  <div class="span" id="two"></div>
                  <div class="span" id="three"></div>
      </div>
   </nav>

<div id="resize">
            <ul id="menu" class="main-menu">
                  <li class="main-menu-item">
                    <a><%= t "menu.language"%></a>
                    <ul class="submenu">
                      <li class="submenu-item"><%= link_to "english", locale: "en" %></li>
                      <li class="submenu-item"><%= link_to "português", locale: "pt-br" %></li>                      
                    </ul>
                  </li>
                  <li class="main-menu-item"><%= link_to "#{t "menu.begin"}", "#inicio", onclick:"$('#toggle').click()"%></li>
                  <li class="main-menu-item"><%= link_to "#{t "menu.class"}", "#classes", onclick:"$('#toggle').click()"%></li>
                  <li class="main-menu-item"><%= link_to "#{t "menu.dungeons"}", "#masmorras", onclick:"$('#toggle').click()"%></li>                 
                  <!--li><%#= link_to "idioma", "#", onclick:"$('#toggle').click()"%></i></li-->
                  
            </ul>
</div>

<section id="inicio">
  <%= image_tag 'wow-classic-logo', id:"img-logo" %>
        
    <h1 class="i_text"><%= t "app.name"%></h1>
    <h2 class="i_text2"><%= t "app.desc"%></h2>
</section>   

<section id="classes">		
				<div class="layer">         
        <h1 class="c_text"><%= t "class.title"%></h1> 
        <div id="container-classes">          
          <% for i in 0..@classes.size %>            
            <%= link_to @classes[i], :action => @classes[i], target:"_blank" do %>
                 <div class="classes" id="<%=@classes[i]%>"><p><span><%= t "class_name.#{@classes[i]}"%></span><br><%= t "class.desc"%></p></div>            
            <%end%>
          <% end %>
        </div>
	      </div>		
</section>

<section id="masmorras">
          <div class="layer">          
          <%= image_tag "DG's/Treasure_chest", alt:"treasure chest" %>
          <ol>
            <li><%= t "dungeons.title"%></li>
          </ol>
                <!-- Slide Page 1 -->
    <div class="swiper-container">                
    <div class="swiper-wrapper">
       <div class="swiper-slide"> 
         <% for i in 0..5%>
            <%= link_to @dgs[i][3], :action => @dgs[i][3], target:"_blank" do %>
             <div class="limit">
               <h1><%= t "dungeons_name.#{@dgs[i][0]}"%></h1>
               <h2><%= @dgs[i][1]%></h2>
               <div class="dg" id="<%= @dgs[i][2] %>"></div>
             </div>
            <%end%>            
         <%end%>
         <%= image_tag "animation_swipe_icon", class:"icon_swiper" %>
       </div>        
                <!-- Slide Page 2 -->
       <div class="swiper-slide"> 
            <% for i in 6..11%>
              <%= link_to @dgs[i][3], :action => @dgs[i][3], target:"_blank" do %>
             <div class="limit">
               <h1><%= t "dungeons_name.#{@dgs[i][0]}"%></h1>
               <h2><%= @dgs[i][1]%></h2>
               <div class="dg" id="<%= @dgs[i][2] %>"></div>
             </div></a>
         <%end%>         
         <%end%>
         <%= image_tag "animation_swipe_icon", class:"icon_swiper" %>
       </div>
                <!-- Slide Page 3 -->
       <div class="swiper-slide"> 
            <% for i in 12..13%>
              <%= link_to @dgs[i][3], :action => @dgs[i][3], target:"_blank" do %>
             <div class="limit">
               <h1><%= t "dungeons_name.#{@dgs[i][0]}"%></h1>
               <h2><%= @dgs[i][1]%></h2>
               <div class="dg" id="<%= @dgs[i][2] %>"></div>
             </div></a>
         <%end%>         
         <%end%>
         <%= image_tag "animation_swipe_icon", class:"icon_swiper" %>
       </div>
    </div>
         <div class="swiper-button-next"></div>
         <div class="swiper-button-prev"></div>
    </div>
       </div>
</section>

<script>
    var swiper = new Swiper('.swiper-container', {
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
</script>

<script> //ancora  
   // Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {// Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {// Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {// Callback after animation // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
</script>

  <script type="text/javascript">
     $(document).ready(function() {
     $(window).bind('scroll', function() {
     var navHeight = $(window).height()*0.1;
     if($(window).scrollTop() > navHeight) {
          $('nav').addClass('fixed');
      $('nav li').addClass('navlifixed');
      $('nav img').addClass('navimgfixed');
     }
     else {
          $('nav').removeClass('fixed');
      $('nav li').removeClass('navlifixed');
      $('nav img').removeClass('navimgfixed');
     }
});
});
     </script>

    <script>

      $("#toggle").click(function() {
      $(this).toggleClass('on');
      $("#resize").toggleClass("active");
      });
   //  $(".btn_down").click(function() { 
   //   $(this).toggleClass('on');
   //   $("#resize").toggleClass("active");
   //   });
    </script>

   <script type="text/javascript">
            $('ul.main-menu li').click(function(e) {                 

                  if($(this).siblings('li').find('ul.submenu:visible').length) {
                        $('ul.submenu').slideUp('normal');
                  }
                  $(this).find('ul.submenu').slideToggle('normal');                  
            });

            var t1 = new TimelineMax({paused: true});

            t1.to(".menu", 0.8, {
                  autoAlpha: 1
            });

            t1.staggerFrom(".main-menu li a:not(.submenu li a)", 1, {
                  opacity: 0,
                  y: 10,
                  ease: Power3.easeInOut
            }, 0.1);

            t1.from(".submenu", 0.8, {
                  autoAlpha: 0
            });

            t1.staggerFrom(".media ul li", 1, {
                  opacity: 0,
                  y: 10,
                  ease: Power3.easeInOut
            }, 0.1, "-=2");

            t1.from(".call", 1, {
                  delay: -2,
                  opacity: 0,
                  y: 10,
                  ease: Power3.easeInOut
            });

            t1.from(".mail", 1, {
                  delay: -1.6,
                  opacity: 0,
                  y: 10,
                  ease: Power3.easeInOut
            });

            t1.reverse();

            $(document).on("click", ".menu-btn", function() {
                  t1.reversed(!t1.reversed());
            });

            $(document).on("click", ".close-menu", function() {
                  t1.reversed(!t1.reversed());
            });

      </script>



 